.intro-text{
    font-size: 30px;
    text-align: center;
    color: #000;
}

.container{
    display: flex;
    flex-direction: row;
}

img{
    width: 500px;
    height: 300px;
    z-index: 0;
}

.information-card{
    z-index: 0;
}

h1{
    text-align: center;
}